{% extends 'base.html.twig' %}
{% import '@App/macros/element.html.twig' as element %}

{% block title %}
    Symfony repository listing
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="padding-bottom: 50px">Symfony repository listing</h1>

    <a href="{{ path('export') }}" type="button" class="btn btn-primary" style="float: right;">Export data</a>

    {% for elemento in data %}
        {{ element.element(elemento) }}
        <hr>
    {% endfor %}

</div>
{% endblock %}