{% macro element(data) %}
    <div class="row" style="padding-bottom: 30px">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
            <img class="img-responsive img-circle img-thumbnail center-block" width="180px" src="{{ data['owner']['avatar_url'] }}">
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h2>{{ data['name']|capitalize }}</h2>
            <p>Owner: <b>{{ data['owner']['login'] }}</b></p>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h3>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{ data['stargazers_count'] }}
                    </h3>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h3>
                        <i class="fa fa-code-fork" aria-hidden="true"></i> {{ data['forks_count'] }}
                    </h3>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h3>
                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> {{ data['open_issues_count'] }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}